@import "./zero_styles.scss";
@import "./variables.scss";

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //scroll-behavior: smooth;
}

body {
  font-size: $fz;
  color: $text-color;
  background: $background-color;
  @media screen and (min-width: 768px) {
    font-size: $fz-m;
  }

  @media screen and (min-width: 1024px) {
    font-size: $fz-l;

  }
}

.container {
  padding: 0 $pg * 5;
  margin: 0 auto;
  max-width: 370px;
  @media screen and (min-width: 768px) {
    max-width: 670px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 970px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1170px;
  }
}

.container-header {
  padding: 0 $pg * 5;
  margin: 0 auto;
}

.page-wrap {
  margin: $mn*10 0;
  background: url(@/assets/icons/FTI_TEXT.svg) no-repeat 100% 10%;
  background-size: 100px;
  @media screen and (min-width: 786px) {
    background-position: 100% 20%;
    background-size: 200px;

  }
  @media screen and (min-width: 1024px) {
    margin: $mn*10 0 $mn * 20 0;
    background-position: 100% 10%;
    background-size: 300px;
  }
}

h2 {
  margin: 0;
  font-size: 48px;
  margin-bottom: 80px;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 28px;
}

h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1023px) {
  h2 {
    font-size: 32px;
    margin-bottom: 50px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: $fz-l;
  }
}


