$fz-s: 12px;
$fz: 14px;
$fz-m: 16px;
$fz-l: 18px;
$fz-xl: 20px;
$fz-xxl: 24px;
$pg: 5px;
$mn: 5px;

$main-color: #f9f4da;
$main-color-2: #f7b728;
//$main-color-2: rgb(255, 237, 0);
$additional-color: #abafff;
$additional-color-2: #231f20;
$text-color: #f9f4da;
$text-color-2: #0f0d0e;
$hover-color: #fadb97;
$background-color: #0f0d0e;
$background-color-2: #0f0d0e;
