$fz: 14px;
$fz-m: 16px;
$fz-l: 18px;
$pg: 5px;
$mn: 5px;

$main-color: #f9f4da;
$main-color-2: #f7b728;
$additional-color: #abafff;
$text-color: #f9f4da;
$text-color-2: #0f0d0e;
$background-color: #0f0d0e;